.color-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-box {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-info {
    text-align: center;
}

.color-info h3 {
    margin-bottom: 20px;
}

.select {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: tomato;
}